@media (max-width: 415px) {

    main{
        padding: 0 15px;
    }

    h2{
        font-size: 18px;
    }
    i{
        font-size: 16px;
    }

}

@media (max-width: 330px) {

    h2{
        display: flex;
        flex-direction: column;
    }
    i{
        padding-bottom: 5px;
    }

}